/* style.css */
@import "@fortawesome/fontawesome-free/css/all.css";

@import './assets/styles/Kawaii/Global-Kawaii.css';
@import './assets/styles/Kawaii/Nav.css';
@import './assets/styles/Kawaii/Button.css';
@import './assets/styles/Kawaii/Section.css';
@import './assets/styles/Kawaii/ProjectList.css';
@import './assets/styles/Kawaii/About.css';
@import './assets/styles/Kawaii/Responsive.css';



* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#app {
  width: 100%;
}

@font-face {
  font-family: 'ArcadeClassic';
  src: url('./assets/fonts/ARCADECLASSIC.TTF') format('tiff');
  font-weight: normal;
  font-style: normal;
  font-display: swap; /* Improves performance by showing fallback text first */
}

body {
  font-family: 'ArcadeClassic', sans-serif;
  /* background: linear-gradient(135deg, #E8B4E8 0%, #D4A5E8 50%, #C0B0E8 100%); */
  min-height: 100vh;
}

body {
  margin: 0;
  font-family: Arial, sans-serif;
}

body.light {
  background-image: url('assets/imgs/Background.svg');
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
  background-size: cover;
  min-height: 100vh;
}

body.dark {
  background-image: url('assets/imgs/Pink-Background.png');
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
  background-size: cover;
  /* --background-color: #121212;
  --text-color: #ffffff; */
  background-color: black;
  min-height: 100vh;
}

/* body, .light, .dark {
  background-image: url('assets/imgs/Background.svg');
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
  background-size: cover;
} */

.theme-toggle {
  /* position: fixed; */
  top: 10px;
  right: 10px;
  padding: 10px 20px;
  cursor: pointer;
}