  .about-content{
    max-width: 850px;
  }

  .about-description {
    font-size: 16px;
    /* color: #333;
    line-height: 1.6;
    text-transform: uppercase;
    letter-spacing: 0.5px; */
    margin: 24px;
  }

  .btn-container{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .about-content-container{
    margin-top: 0px;
  }

  .about-title{
    margin-bottom: 24px;
    font-family: ArcadeClassic;
  }

  .about-image{
    width: 150px;
    float: left;
    margin: 0 20px 20px 0;    
    border: #1e1e1e solid 3px;
    pointer-events: none;
    user-select: none;
  }
  
