.home-container {
    position: relative;
    max-width: 1400px;
    margin: 0 auto;
    padding: 40px 20px;
  }

  .section-container{
    /* position: relative; */
    max-width: 1400px;
    margin: 0 auto;
    /* padding: 40px 20px; */
  }
  
  /* .home-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 30px;
    grid-template-rows: auto auto;
  } */
  
  .hero-title {
    font-family: 'ArcadeClassic';
    font-size: 5rem;
    color: #666;
    font-weight: bold;
    letter-spacing: 4px;
    margin-bottom: 20px;
  }
  
  .hero-subtitle {
    font-family: 'ArcadeClassic';
    font-size: 2rem;
    color: #666;
    text-align: center;
    font-weight: bold;
    letter-spacing: 2px;
    margin-bottom: 30px;
  }
  
  .hero-description {
    width: 50%;
    font-size: 1rem;
    color: #333;
    line-height: 1.6;
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 30px;
    letter-spacing: 0.5px;
  }
  
  .title-styles{
    margin: 24px 0px 24px 0px;
  }

  .dark{
    .hero-title, .hero-subtitle{
      color: #fff;
      text-shadow:
      0 0 1px #fff,
      0 0 2px #fff,
      0 0 3px #fff,
      0 0 5px #d3a6fb,
      0 0 35px #d3a6fb,
      0 0 45px #d3a6fb,
      0 0 60px #d3a6fb,
      0 0 70px #d3a6fb;
      transition: transform 0.3s ease;
      animation: flicker 2.5s infinite alternate;
    }
    .hero-description{
      color: #f2f2f2;
    }
  }

  /* @keyframes flicker {
    0%, 18%, 22%, 25%, 53%, 57%, 100% {
      text-shadow:
        0 0 4px #fff,
        0 0 11px #fff,
        0 0 19px #fff,
        0 0 40px #d3a6fb,
        0 0 80px #d3a6fb,
        0 0 90px #d3a6fb,
        0 0 100px #d3a6fb,
        0 0 150px #d3a6fb;
    }
    20%, 24%, 55% {       
      text-shadow: none;
    }
  } */
  

  