.home-container {
    position: relative;
    max-width: 1400px;
    margin: 0 auto;
    padding: 40px 20px;
  }
  
  /* .home-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 30px;
    grid-template-rows: auto auto;
  } */
  
  .hero-title {
    font-family: 'ArcadeClassic';
    font-size: 5rem;
    color: #666;
    font-weight: bold;
    letter-spacing: 4px;
    margin-bottom: 20px;
  }
  
  .hero-subtitle {
    font-family: 'ArcadeClassic';
    font-size: 2rem;
    color: #666;
    font-weight: bold;
    letter-spacing: 2px;
    margin-bottom: 30px;
  }
  
  .hero-description {
    width: 50%;
    font-size: 1rem;
    color: #333;
    line-height: 1.6;
    text-transform: uppercase;
    margin-bottom: 30px;
    letter-spacing: 0.5px;
  }
  
  .title-styles{
    margin: 24px 0px 24px 0px;
  }
  
   .project-container{
    display: flex;
    gap: 20px;
  }

  .dark{
    i, .hero-title, .hero-subtitle{
      color: #fff;
      text-shadow:
      0 0 2px #fff,
      0 0 4px #fff,
      0 0 6px #fff,
      0 0 10px #d3a6fb,
      0 0 45px #d3a6fb,
      0 0 55px #d3a6fb,
      0 0 70px #d3a6fb,
      0 0 80px #d3a6fb;
      transition: transform 0.3s ease;
      animation: flicker 2.5s infinite alternate;
    }
    .hero-description{
      color: #f2f2f2;
    }
  }

  /* @keyframes flicker {
    0%, 18%, 22%, 25%, 53%, 57%, 100% {
      text-shadow:
        0 0 4px #fff,
        0 0 11px #fff,
        0 0 19px #fff,
        0 0 40px #d3a6fb,
        0 0 80px #d3a6fb,
        0 0 90px #d3a6fb,
        0 0 100px #d3a6fb,
        0 0 150px #d3a6fb;
    }
    20%, 24%, 55% {       
      text-shadow: none;
    }
  } */
  

  .star {
    position: absolute;
    font-size: 40px;
    opacity: 0.8;
    animation: float 3s ease-in-out infinite;
  }
  
  .star-1 {
    left: 5%;
    top: 0;
    animation-delay: 0s;
  }
  
  .star-2 {
    right: 15%;
    top: 10px;
    font-size: 50px;
  }
  
  .star-3 {
    right: 5%;
    bottom: 0;
    animation-delay: 1s;
  }
  
  .star-4 {
    left: 15%;
    bottom: 0;
    animation-delay: 0.5s;
  }

  .star-5 {
    left: 1%;
    top: 200px;
    animation-delay: 0.5s;
  }

  .star-6 {
    right: 35%;
    bottom: 50px;
    animation-delay: 0.5s;
  }

  .star-7 {
    left: 45%;
    top: 50px;
    animation-delay: 0.5s;
  }

  .cloud-1{
    width: 100px;
    height: 100px;
    z-index: 99;
    position: absolute;
    font-size: 40px;
    opacity: 0.8;
    animation: float 3s ease-in-out infinite;
  }
  
  @keyframes float {
    0%, 100% {
      transform: translateY(0px);
    }
    50% {
      transform: translateY(-10px);
    }
  }