.projects-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    margin-bottom: 20px;
    list-style: none;
  }

  .project-item{
    /* padding-top: 24px; */
    text-decoration: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
   
  }

  .project-folder{
    /* width: 50px;
    height: 50px; */
    margin: 16px;
    color: #D4A5E8;
    display: block;
    align-items: center;
  }
  
  .project-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
  }
  
  .project-placeholder {
    width: 100%;
    aspect-ratio: 1;
    background-color: #F4B4D9;
    border-radius: 8px;
    border: 2px solid #D4A5E8;
  }
  
  .project-label {
    font-size: 16px;
    color: #333;
    font-weight: bold;
    text-align: center;
    letter-spacing: 0.5px;
  }

  .project-container{
    display: flex;
    gap: 20px;

  }

  .section-left{
    width:23%;
    border-right: solid 2px #1E1E1E;
  }
  .section-right{
    width:74%;
  }

  .dark{
    .section-left{
      border-right: solid 2px #f2f2f2;
    }
  }
  