@media (max-width: 1191px) {
    .home-grid {
      grid-template-columns: 2fr; 
    }
  }


@media (max-width: 768px) {
    .home-grid {
      grid-template-columns: 1fr;
    }
  
    .hero-section,
    .projects-section {
      grid-column: 1;
    }
  
    .projects-grid {
      grid-template-columns: repeat(2, 1fr);
    }
  
    .about-section {
      grid-template-columns: 1fr;
    }
  
    .hero-title {
      font-size: 2.5rem;
    }
    .hero-subtitle{
      font-size: 1.75rem;
    }
    .hero-description {
      width: 90%;
      font-size: 0.9rem;
    }
    .projects-grid {
      grid-template-columns: 1fr;
    }
  }

  @media (max-width: 500px) {
   
    .hero-title {
      font-size: 2rem;
    }
    .hero-subtitle{
      font-size: 1.5rem;
    }
    .hero-description {
      width: 90%;
      font-size: 0.8rem;
    }
  }